name: Publish

on:
  release:
    types: [published]

jobs:
  test:
    uses: ./.github/workflows/ci.yml

  publish:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/setup

      - name: Publish to Hex.pm
        run: gleam publish --yes
        env:
          HEXPM_API_KEY: ${{ secrets.HEXPM_API_KEY }}
