name: Publish

on:
  push:
    tags: ['v*']

jobs:
  test:
    uses: ./.github/workflows/ci.yml

  publish:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v6

      - name: Setup environment
        uses: ./.github/actions/setup

      - name: Publish to Hex.pm
        run: gleam publish --yes
        env:
          HEXPM_API_KEY: ${{ secrets.HEXPM_API_KEY }}
